<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>リスト一覧</title>

    <link rel="stylesheet" th:href="@{/css/list.css}">
</head>

<body>
    <h1>リスト一覧</h1>

    <ul>
        <li class="p-todolist_item" th:each="list : ${lists}">
            <span th:text="${list.name}"></span>

            <form th:action="@{/list/{listId}/delete(listId=${list.id})}"
                  method="post">
                <button type="submit">削除</button>
            </form>
        </li>
    </ul>

    <form th:action="@{/list/add}" method="post">
        <input type="text" name="name" placeholder="リスト名を入力">
        <button type="submit">追加</button>
    </form>
</body>

</html>