<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>タスク編集画面</title>

    <link rel="stylesheet" th:href="@{/css/task-edit.css}">
</head>

<body>
    <h1>タスク編集画面</h1>

    <form th:action="@{/lists/{listId}/tasks/{taskId}/edit(listId=${listId}, taskId=${taskId})}"
        th:object="${taskEditForm}" method="post">
        <input type="text" th:field="*{content}">
        <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></div>

        <input type="date" th:field="*{dueDate}" required>
        <div th:if="${#fields.hasErrors('dueDate')}" th:errors="*{dueDate}"></div>
        <select th:field="*{done}">
            <option value="false">
                未完了
            </option>
            <option value="true">
                完了
            </option>
        </select>
        <button type="submit">保存</button>
    </form>

</body>

</html>