<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>タスク一覧</title>

    <link rel="stylesheet" th:href="@{/css/tasks.css}">
</head>

<body>
    <h1>タスク一覧</h1>

    <ul>
        <li class="p-tasklist_item" th:each="task : ${tasks}">

            <a th:href="@{/lists/{listId}/tasks/{taskId}/edit(listId=${listId}, taskId=${task.id})}">
                <span th:text="${task.content}"></span>
            </a>

            <form th:action="@{/lists/{listId}/tasks/{taskId}/delete(listId=${listId}, taskId=${task.id})}"
                method="post" onsubmit="return confirm('このタスクを削除しますか？');">
                <button type="submit">削除</button>
            </form>

        </li>
    </ul>

    <form th:action="@{/lists/{listId}/tasks(listId=${listId})}" method="post">
        <input type="text" name="content" placeholder="タスク名を入力">
        <button type="submit">追加</button>
    </form>

</body>

</html>